*{
    box-sizing: border-box;
    background: rgb(0 100 0 /.05);
}

#email{
width: 300px;
height: 32px;
outline: none;
border-radius: 7px;
border: 2px solid black;
background-color: #000;
color: #fff;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#text{
    display:block;
    margin-left: 8vh;
    color: #000;
    font-weight: 500;
    font-style: italic;
    padding: 5px;
    
}
#form .inputBox{
    position: relative;
}
#form.invalid .inputBox:before{
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
    width: 24px;
    height: 24px;
 background: url(invalid.png);
 background-size: cover;
 z-index: 1000;




}
#form.valid .inputBox:before{
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
    width: 24px;
    height: 24px;
 background: url(valid.png);
 background-size: cover;
    z-index: 1000;



}
